page-tab1 {
  ion-content {
    --background: #f4f4f4;
    color: #333;
  }


  .introduction-row {
    margin-bottom: 30px;
  }

  .introduction-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .introduction-text {
    padding: 20px;
  }

  .introduction-image img {
    max-width: 20%;
    height: 20%;
  }

  @media (max-width: 768px) {
    .introduction-col {
      flex-direction: column;
    }
  }
}


